
@font-face {
  font-family: 'FaktPro-Medium';
  src: url('FaktPro-Medium.eot?#iefix') format('embedded-opentype'),  url('FaktPro-Medium.otf')  format('opentype'),
	     url('FaktPro-Medium.woff') format('woff'), url('FaktPro-Medium.ttf')  format('truetype'), url('FaktPro-Medium.svg#FaktPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
