/* placeholder color */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #bbb !important;
	opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #bbb !important;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
	color: #bbb !important;
  }

/* bg pattern */
.bg-pattern-1-sky {
	background: url('images/bg/pattern/bg-summer-pattern.png') repeat;
}
.bg-semi-white {
	background: #fafafa;
}

/* particle  */
.particle-pos-absolute {
	position: absolute !important; 
	height: 150px !important;
	top: 0px;
}
.mega-menu li p {
	font-size: 14px;
	line-height: 20px;
}


/* tablist */
.tabset-list li {
	margin-right: 1px;
}
.tabset-list li:nth-child(3) a {
	background: #24c1dd;
}
/* animation */
.add-scale {
	transition: all .3s ease;
}
.add-scale:hover {
	transform: scale(1.05) translateX(10px);
}
.feature-item:hover .features-content h4 {
	color: #24c1dd;
}


/* why  */
.accordion-title-why {
	line-height: 20px; 
	padding-left: 60px !important;
}
.accordion-icon-why {
	position:absolute;
	left:20px;
	top:0px;
	font-size: 26px !important;
	margin-top: 20px;
}


/* application form */
.app-form-label {
	font-weight: 400;
	padding-top: 12.5px;
	font-size: 14px;
}
.app-form-label span {
	color: tomato;
}

.f-h-50 {
	padding: .375rem .75rem;
	height: 50px;
}

/* footer */
.copyrights a {
	color: #24c1dd;
}