/* bg pattern */
.bg-pattern-1-sky {
	background: url('images/bg/pattern/bg-summer-pattern.png') repeat;
}

/* particle  */
.particle-pos-absolute {
	position: absolute !important; 
	height: 150px !important;
	top: 0px;
}
.mega-menu li p {
	font-size: 14px;
	line-height: 20px;
}

/* animation */
.add-scale {
	transition: all .3s ease;
}
.add-scale:hover {
	transform: scale(1.05) translateX(10px);
}
.feature-item:hover .features-content h4 {
	color: #643094;
}


/* why  */
.accordion-title-why {
	line-height: 20px; 
	padding-left: 60px !important;
}
.accordion-icon-why {
	position:absolute;
	left:20px;
	top:0px;
	font-size: 26px !important;
	margin-top: 20px;
}

/* footer */
.copyrights a {
	color: #643094;
}