/** Proxima Nova **/

@font-face {
    font-family: 'proxima_nova_altblack';
    src: url('assets/fonts/Mark Simonson - Proxima Nova Alt Black-webfont.eot');
    src: url('assets/fonts/Mark Simonson - Proxima Nova Alt Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/Mark Simonson - Proxima Nova Alt Black-webfont.woff2') format('woff2'),
         url('assets/fonts/Mark Simonson - Proxima Nova Alt Black-webfont.woff') format('woff'),
         url('assets/fonts/Mark Simonson - Proxima Nova Alt Black-webfont.ttf') format('truetype'),
         url('assets/fonts/Mark Simonson - Proxima Nova Alt Black-webfont.svg#proxima_nova_altblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_altbold';
    src: url('assets/fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.eot');
    src: url('assets/fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.woff2') format('woff2'),
         url('assets/fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.woff') format('woff'),
         url('assets/fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.ttf') format('truetype'),
         url('assets/fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.svg#proxima_nova_altbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima_Nova';
    src: url('assets/fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.eot');
    src: url('assets/fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.woff') format('woff'),
         url('assets/fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.ttf') format('truetype'),
         url('assets/fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.svg#proxima_nova_altregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on April 4, 2015 */


@font-face {
    font-family: 'proxima_nova_scosfthin';
    src: url('assets/fonts/Mark Simonson - Proxima Nova ScOsf Thin-webfont.eot');
    src: url('assets/fonts/Mark Simonson - Proxima Nova ScOsf Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/Mark Simonson - Proxima Nova ScOsf Thin-webfont.woff2') format('woff2'),
         url('assets/fonts/Mark Simonson - Proxima Nova ScOsf Thin-webfont.woff') format('woff'),
         url('assets/fonts/Mark Simonson - Proxima Nova ScOsf Thin-webfont.ttf') format('truetype'),
         url('assets/fonts/Mark Simonson - Proxima Nova ScOsf Thin-webfont.svg#proxima_nova_scosfthin') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url('assets/fonts/Mark Simonson - Proxima Nova Semibold-webfont.eot');
    src: url('assets/fonts/Mark Simonson - Proxima Nova Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/Mark Simonson - Proxima Nova Semibold-webfont.woff2') format('woff2'),
         url('assets/fonts/Mark Simonson - Proxima Nova Semibold-webfont.woff') format('woff'),
         url('assets/fonts/Mark Simonson - Proxima Nova Semibold-webfont.ttf') format('truetype'),
         url('assets/fonts/Mark Simonson - Proxima Nova Semibold-webfont.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_ltthin';
    src: url('assets/fonts/Mark Simonson - Proxima Nova Thin-webfont.eot');
    src: url('assets/fonts/Mark Simonson - Proxima Nova Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/Mark Simonson - Proxima Nova Thin-webfont.woff2') format('woff2'),
         url('assets/fonts/Mark Simonson - Proxima Nova Thin-webfont.woff') format('woff'),
         url('assets/fonts/Mark Simonson - Proxima Nova Thin-webfont.ttf') format('truetype'),
         url('assets/fonts/Mark Simonson - Proxima Nova Thin-webfont.svg#proxima_nova_ltthin') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*end fonts*/

body {
  
}
#loader {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,1);
  margin: 0 auto;
  position: fixed;
  text-align: center;
  padding-top: 20%;
}

.centered{
  width:400px;
  height:400px;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  background: rgba(0,0,0,1);
  filter: blur(10px) contrast(20);
}
.blob-1,.blob-2{
  width:70px;
  height:70px;
  position:absolute;
  background:#fff;
  border-radius:50%;
  top:50%;left:50%;
  transform:translate(-50%,-50%);
}
.blob-1{
  left:20%;
  animation:osc-l 2s ease infinite;
}
.blob-2{
  left:80%;
  animation:osc-r 2s ease infinite;
  background:#64E9EE;
}
@keyframes osc-l{
  0%{left:20%;}
  50%{left:50%;}
  100%{left:20%;}
}
@keyframes osc-r{
  0%{left:80%;}
  50%{left:50%;}
  100%{left:80%;}
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0,0,0,0.85);
}

#curve {
  position: absolute;
  bottom: -20px;
  width: 100%;
  z-index: 10;
}
#curve path {
  fill: #fff;
}
.hero {
  position: relative;
  background: url('img/Bannerx1.jpg') no-repeat;
  background-size: 100% 100%;
  background-size: cover;
  height: calc(100vh + 70px) ;
  color: #fff;
}
@media screen and (max-width: 960px) {
  .hero {
    background-size: cover;
    height: calc(100vh + 40px) ;
  }
  #curve {
    bottom: 0;
  }
}
.hero-detail {
  position: relative;
  padding-top: 260px;
  z-index: 9;
  text-align: center;
}
.hero-detail h1 {
  font-family: "Proxima_Nova";
  letter-spacing: 2px;
  font-size: 30px;
  margin-bottom: 0;
}
.hero-detail h1 span {
  color: #02d871;
  font-family: "proxima_nova_altbold";
}
.hero-detail .skill {
  font-size: 20px;
  width: 60%;
  margin: 0 auto;
  font-family: "proxima_nova_ltthin";
}
@media screen and (max-width: 768px ) {
  .hero-detail .skill {
    width: 90%;
  }
}
.hero-detail .intro {
  font-size: 50px;
  margin: 40px 0;
  margin-top: 20px;
}
.intro span {
  color: #02d871;
}

.content {
  padding: 60px;
}
.porto {
  margin-bottom: 60px;
}
.porto-item {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 1px 30px rgba(0,0,0,0.2);
  transition: all .5s ease;
}
a.item {
  transition: all .4s ease;
  transition-delay: .3s;
}
a.item:hover .porto-item {
  transform: translateY(-20px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}
a.item:hover .porto-caption {
  bottom: 0;
}

.porto-img {

}
.porto-img img {
  width: calc( 100% + 20px );
  transition: all 1s ease;
  transition-delay: .3s ;
}
.porto-item a.item:hover .porto-img img  {
  transform: translateY(-30px);
}
.porto-caption {
  position: absolute;
  bottom: -60px;
  background: #02d871;
  width: 100%;
  text-align: center;
  transition: all 1.1s ease;
}
.porto-caption p {
  letter-spacing: 2px;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  font-family: "proxima_nova_altbold";
  margin-bottom: 0;
}




.title {
  font-size: 22px;
  font-family: "proxima_nova_altbold";
  text-align: center;
}
.title a {
  color: #444;
  letter-spacing: .5px;
  transition: all .4s ease;
  padding: 10px;
}
.title a:hover {
  text-decoration: none;
  color: #02d871;
}

.content h2 {
  font-family: "Proxima_Nova";
  letter-spacing: 2px;
  font-size: 40px;
  text-align: center;
}
.content h2 span {
  color: #02d871;
  font-family: "proxima_nova_altbold";
}
.content p.sub-cap {
  text-align: center;
  margin-bottom: 50px;
  font-size: 20px;
  font-family: "Proxima_Nova";
}


/* responsive */
@media screen and (max-width: 641px) {
  .hero {
    height: 100vh;
  }
  .hero-detail {
   padding-top: 25%; 
  }
  .hero h1 {
    font-size: 26px;
    width: 80%;
    margin: 0 auto;
  }
  .hero-detail .intro {
    font-size: 36px;
    padding: 0 20px;
  }
  .hero-detail .skill {
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    height: 100vh;
  }
  .hero-detail {
   padding-top: 30%; 
  }
  .hero h1 {
    font-size: 26px;
    width: 80%;
    margin: 0 auto;
  }
  .hero-detail .intro {
    font-size: 36px;
    padding: 0 20px;
  }
  .hero-detail .skill {
    font-size: 18px;
  }
}
