/* Font Config */

/* Proxima Nova */
/* bold */
@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('../fonts/ProximaNova-Bold.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-Bold';
    src: url(../fonts/ProximaNova-Bold.woff) format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('fonst/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* light */
@font-face {
    font-family: 'ProximaNova-Light';
    src: url('../fonts/ProximaNova-Light.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-Light';
    src: url(../fonts/ProximaNova-Light.woff) format('woff'), url('../fonts/ProximaNova-Light.ttf') format('truetype'), url('fonst/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* regular */
@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/ProximaNova-Regular.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-Regular';
    src: url(../fonts/ProximaNova-Regular.woff) format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('fonst/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* regular italic */
@font-face {
    font-family: 'ProximaNova-RegularIt';
    src: url('../fonts/ProximaNova-RegularIt.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-RegularIt';
    src: url(../fonts/ProximaNova-RegularIt.woff) format('woff'), url('../fonts/ProximaNova-RegularIt.ttf') format('truetype'), url('fonst/ProximaNova-RegularIt.svg#ProximaNova-RegularIt') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* semibold */
@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('../fonts/ProximaNova-Semibold.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url(../fonts/ProximaNova-Semibold.woff) format('woff'), url('../fonts/ProximaNova-Semibold.ttf') format('truetype'), url('fonst/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* semibold italic */
@font-face {
    font-family: 'ProximaNova-SemiboldIt';
    src: url('../fonts/ProximaNova-SemiboldIt.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-SemiboldIt';
    src: url(../fonts/ProximaNova-SemiboldIt.woff) format('woff'), url('../fonts/ProximaNova-SemiboldIt.ttf') format('truetype'), url('fonst/ProximaNova-SemiboldIt.svg#ProximaNova-SemiboldIt') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* roboto */
/* bold */
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.woff) format('woff'), url('../fonts/Roboto-Bold.ttf') format('truetype'), url('fonst/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* condensed bold */
@font-face {
    font-family: 'RobotoCondensed-Bold';
    src: url('../fonts/RobotoCondensed-Bold.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoCondensed-Bold';
    src: url(../fonts/RobotoCondensed-Bold.woff) format('woff'), url('../fonts/RobotoCondensed-Bold.ttf') format('truetype'), url('fonst/RobotoCondensed-Bold.svg#RobotoCondensed-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* light - regular - regular italic - medium !missing - semibold - semibold italic -  bold */
/* roboto condensed bold - roboto bold - roboto regular !missing -  */