section {
	background: #fff;
}
.nav-container {
	background: #fff;
}
section#headline {
	background: transparent;
}

.modal-container:before {
	background: rgba(0,0,0,0.1);
	
}

.modal-container .modal-content:not(.height--natural) {
	width: 380px;
	left: initial;
	right: 0;
	transform: translateX(0) translateY(0);
	max-width: 380px;
	top: initial;
	bottom: 0;
}
@media screen and (max-width: 992px){
	.modal-container .modal-content:not(.height--natural) {
		max-width: 300px;
	}
	.modal-content .row {
		margin: 0;
	}
	.modal-container .modal-content:not(.height--natural) .boxed:not(:last-child) {
		margin-bottom: 0;
	}
}

.bar--md.visible-xs img {
	width: 140px;
	max-height: initial;
	transform: translateY(-5px);
}
.bar-1.hidden-xs img {
	width: 180px;
	max-height: initial;
	transform: translateY(-10px);
}

@media (max-width: 1023px) and (min-width: 768px) {
	.bar__module {
		margin-bottom: 0 !important;
	}
}

.background-image-holder,
.background-image-holder.background--top {
	background-size: 100% !important;
	background-position: 0 -200px !important;
}

.imagebg:not(.image--light) h1 {
	font-weight: 600;
}



/*MAIN-BG-HEADER
**********************/
@-webkit-keyframes main-bg-fadeinout {
 0% {
   opacity:1;

 }
 20% {
   opacity:1;
   
 }
 25% {
  -webkit-transform:translateX(-10px);
  -moz-transform:translateX(-10px);
  -o-transform:translateX(-10px);
  transform:translateX(-10px);
   opacity:0;

 }
 90% {
   opacity:0;
 }
 100% {  
   opacity:1;
 }
}
@-moz-keyframes main-bg-fadeinout {
 0% {
   opacity:1;

 }
 20% {
   opacity:1;
   
 }
 25% {
  -webkit-transform:translateX(-10px);
  -moz-transform:translateX(-10px);
  -o-transform:translateX(-10px);
  transform:translateX(-10px);
   opacity:0;

 }
 90% {
   opacity:0;
 }
 100% {  
   opacity:1;
 }
}

@-o-keyframes main-bg-fadeinout {
 0% {
   opacity:1;

 }
 25% {
   opacity:1;
   
 }
 25% {
  -webkit-transform:translateX(-10px);
  -moz-transform:translateX(-10px);
  -o-transform:translateX(-10px);
  transform:translateX(-10px);
   opacity:0;

 }
 90% {
   opacity:0;
 }
 100% {  
   opacity:1;
 }
}

@keyframes main-bg-fadeinout {
 0% {
   opacity:1;

 }
 20% {
   opacity:1;
   
 }
 25% {
  -webkit-transform:translateX(-10px);
  -moz-transform:translateX(-10px);
  -o-transform:translateX(-10px);
  transform:translateX(-10px);
   opacity:0;

 }
 90% {
   opacity:0;
 }
 100% {  
   opacity:1;
 }
}
#main-bg-header {
  position:fixed;
  width:450px;
  margin:0 auto;
  margin-top: -105px;
  width: 100%;
  z-index: -9999;
}
.hideshow {
  display: none;
}
header:after {
  clear: both;
  content: '';
}
#main-bg-header img {
  position:absolute;
  left:0;
  width: 100%;
  max-width: 100%;
}

#main-bg-header img {
  -webkit-animation-name: main-bg-fadeinout;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 18s;

  -moz-animation-name: main-bg-fadeinout;
  -moz-animation-timing-function: ease-in;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 18s;

  -o-animation-name: main-bg-fadeinout;
  -o-animation-timing-function: ease-in;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 18s;

  animation-name: main-bg-fadeinout;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-duration: 18s;
}
#main-bg-header img:nth-of-type(2) {
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  animation-delay: 12s;
}
#main-bg-header img:nth-of-type(3) {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s;
}
#main-bg-header img:nth-of-type(4) {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}


#headline {
  height: calc(100vh - 105px);
}

#headline .d-flex {
	height: 3	00px;
}
#headline .heading {
	margin-top: 100px;
	color: #000;
	display: inline-block;
	background: rgba(255,255,255,0.7);
	padding: 5px 10px;
}
#headline .subheading {
	width: 440px;
	color: #fff;
	padding: 10px;
	font-size: 17px;
	line-height: 30px;
	background: rgba(0,0,0, 0.3);
}