section {
	background: #fff;
}
.nav-container {
	background: #fff;
}
section#headline {
	background: transparent;
}

.modal-container:before {
	background: rgba(0,0,0,0.1);

}

.modal-container .modal-content:not(.height--natural) {
	width: 380px;
	left: initial;
	right: 0;
	transform: translateX(0) translateY(0);
	max-width: 380px;
	top: initial;
	bottom: 0;
}
@media screen and (max-width: 992px){
	.modal-container .modal-content:not(.height--natural) {
		max-width: 300px;
	}
	.modal-content .row {
		margin: 0;
	}
	.modal-container .modal-content:not(.height--natural) .boxed:not(:last-child) {
		margin-bottom: 0;
	}
}


.bar.bar-1,
.bar.bar--md {
  padding: 10px 0;
}

.bar--md.visible-xs img {
	width: 140px;
	max-height: initial;
	transform: translateY(-5px);
}
.bar-1.hidden-xs img {
	width: 180px;
	max-height: initial;
	transform: translateY(-5px);
}

@media (max-width: 1023px) and (min-width: 768px) {
	.bar__module {
		margin-bottom: 0 !important;
	}
}

.background-image-holder,
.background-image-holder.background--top {
	background-size: 100% !important;
	/* background-position: 0 -200px !important; */
}

.imagebg:not(.image--light) h1 {
	font-weight: 600;
}



/*MAIN-BG-HEADER
**********************/
@-webkit-keyframes main-bg-fadeinout {
 0% {
   opacity:1;

 }
 20% {
   opacity:1;

 }
 25% {
  -webkit-transform:translateX(-10px);
  -moz-transform:translateX(-10px);
  -o-transform:translateX(-10px);
  transform:translateX(-10px);
   opacity:0;

 }
 90% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}
@-moz-keyframes main-bg-fadeinout {
 0% {
   opacity:1;

 }
 20% {
   opacity:1;

 }
 25% {
  -webkit-transform:translateX(-10px);
  -moz-transform:translateX(-10px);
  -o-transform:translateX(-10px);
  transform:translateX(-10px);
   opacity:0;

 }
 90% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@-o-keyframes main-bg-fadeinout {
 0% {
   opacity:1;

 }
 25% {
   opacity:1;

 }
 25% {
  -webkit-transform:translateX(-10px);
  -moz-transform:translateX(-10px);
  -o-transform:translateX(-10px);
  transform:translateX(-10px);
   opacity:0;

 }
 90% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@keyframes main-bg-fadeinout {
 0% {
   opacity:1;

 }
 20% {
   opacity:1;

 }
 25% {
  -webkit-transform:translateX(-10px);
  -moz-transform:translateX(-10px);
  -o-transform:translateX(-10px);
  transform:translateX(-10px);
   opacity:0;

 }
 90% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}
#main-bg-header {
  position:fixed;
  width:450px;
  margin:0 auto;
  margin-top: -105px;
  width: 100%;
  z-index: -9999;
}
.hideshow {
  display: none;
}
header:after {
  clear: both;
  content: '';
}
#main-bg-header img {
  position:absolute;
  left:0;
  width: 100%;
  max-width: 100%;
  top: -100px;
}

@media screen and (max-width: 1280px){
  #main-bg-header img {
    width: auto;
    max-width: 1400px;
    top: 0px;
  }
}
@media screen and (max-width: 480px){
  #main-bg-header img {
    width:auto;
    max-width: 900px;
    margin-left: -40%;
  }
}

#main-bg-header img {
  -webkit-animation-name: main-bg-fadeinout;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 18s;

  -moz-animation-name: main-bg-fadeinout;
  -moz-animation-timing-function: ease-in;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 18s;

  -o-animation-name: main-bg-fadeinout;
  -o-animation-timing-function: ease-in;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 18s;

  animation-name: main-bg-fadeinout;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-duration: 18s;
}
#main-bg-header img:nth-of-type(2) {
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  animation-delay: 12s;
}
#main-bg-header img:nth-of-type(3) {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s;
}
#main-bg-header img:nth-of-type(4) {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}


#headline {
  height: calc(100vh - 105px);
}

#headline .d-flex {
	height: 3	00px;
}
#headline .heading {
	margin-top: 100px;
	color: #000;
	display: inline-block;
	background: rgba(255,255,255,0.7);
	padding: 5px 10px;
}
#headline .subheading {
	width: 440px;
	color: #fff;
	padding: 10px;
	font-size: 17px;
	line-height: 30px;
	background: rgba(0,0,0, 0.3);
}
.dropdown-description{
	width: 100%;
	/* height: 80px; */
	background: #f2f2f2;
	border: 1px solid #d9d9d9;
}
.dropdown-description .dropdown-trigger{
	width: 100%;
	height: 100%;
	padding: 20px 30px;
}
.dropdown-trigger:hover{
	cursor: pointer;
}
#description{
	display: none;
	transition: 0.3s;
}
#description.active{
	display:block;
	position: relative;
}



#pop-up{
  /* width: auto; */
  height: auto;
  bottom: 0;
  position: fixed;
  right: 0px;
  right: -300px;
  transition: all ease 0.3s;
  z-index: 9999;
  /* background: yellow; */
}
#pop-up.active{
  right: 0px;
}
.pop-up-wrap {
  position: relative;
}
#pop-up .trigger-pop{
  width: auto;
  position: absolute;
  top: 80px;
  left: -124px;
  color: white;
  float: left;
  background:   #f26824;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
  transform: rotate(-90deg);
}
#pop-up .trigger-pop h3{
  font-size: 16px;
  color: white;
  font-weight: 600;
  margin-bottom: 0;
}

.popup-form{
  width: 300px;
  height: 100%;
  background: white;
  float: right;
  padding: 15px 12px;
  padding-bottom: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #f2f2f2;
}
.popup-form form {
  margin-top: 10px;
}
.popup-form h3{
  margin-bottom: 0px;
}
.popup-form span{
  width: 40px;
  height: 2px;
  display: block;
  background: #f26824;
  margin-bottom: 10px;
}
.popup-form input{
  width: 100%;
  height: 45px;
  border-radius: 4px;
  padding: 3px 9px;
  font-size: 12px;
  border: 2px solid #f2f2f2;
  background: #fcfcfc;
}
#btn-demo{
  background: #f26824;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s;
}
#btn-demo:hover{
  opacity: 0.8;
  margin-top: -2px;
}
.popup-form p{
  font-size: 10px;
}


.feature-7.h-100px {
  height: 80px;
}

.top-filter {
  border-top: 1px solid #ddd;
  padding: 10px;
  padding-bottom: 0;
}
.top-filter .feature-7 {
  margin-bottom: 0;
}
.top-filter .block {
  margin-bottom: 10px;
}


#textslide { 
    margin: 50px auto; 
    position: relative; 
    width: 100%; 
    min-width: 360px; 
}

#textslide > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px;
    transition: all .4s ease;
    opacity: 0;
}

#textslide > div.active { 
  opacity: 1;
    transform: scale(1.1) translateY(-10px);
}
.icon-bar {
  position: fixed;
  top: 26.75%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 9999;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 12px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
  border: 1px solid #f26824;
  background: rgba(255,255,255,0.5);
}

.icon-bar i {
  font-size: 18px;
  color: #f26824;
}

.icon-bar a:hover {
  background-color: rgba(255,255,255,0.4);
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}



.product-icon {

}
.product-icon img {
  max-width: 60px;
}

.btn.no-border {
  border: none;   
}
.btn.no-border .btn__text {
  font-size: 14px;
}

.cover-size {
  background-size: cover !important;
}

.mailicon {
  position: relative;
}
.mailicon .popemail {
  position: absolute;

  opacity: 0;
  left: -145px;
  top: 50%;
  padding: 14px 14px;
  color: #f26824;
  transform: translateY(-50%);
  font-size: 15px;
  background: rgba(255,255,255,0.5);
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  transition: all .3s ease;
}
.mailicon:hover .popemail{
  opacity: 1;
}