section {
	background: #fff;
}
.nav-container {
	background: #fff;
}
section#headline {
	background: transparent;
}



.bar.bar-1,
.bar.bar--md {
  padding: 10px 0;
}

.bar--md.visible-xs img {
	width: 140px;
	max-height: initial;
	transform: translateY(-5px);
}
.bar-1.hidden-xs img {
	width: 180px;
	max-height: initial;
	transform: translateY(-5px);
}

@media (max-width: 1023px) and (min-width: 768px) {
	.bar__module {
		margin-bottom: 0 !important;
	}
}

.background-image-holder,
.background-image-holder.background--top {
	background-size: 100% !important;
	/* background-position: 0 -200px !important; */
}

.imagebg:not(.image--light) h1 {
	font-weight: 600;
}



/*MAIN-BG-HEADER
**********************/
@-webkit-keyframes main-bg-fadeinout {
 0% {
   opacity:1;

 }
 20% {
   opacity:1;

 }
 25% {
  -webkit-transform:translateX(-10px);
  -moz-transform:translateX(-10px);
  -o-transform:translateX(-10px);
  transform:translateX(-10px);
   opacity:0;

 }
 90% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}
@-moz-keyframes main-bg-fadeinout {
 0% {
   opacity:1;

 }
 20% {
   opacity:1;

 }
 25% {
  -webkit-transform:translateX(-10px);
  -moz-transform:translateX(-10px);
  -o-transform:translateX(-10px);
  transform:translateX(-10px);
   opacity:0;

 }
 90% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@-o-keyframes main-bg-fadeinout {
 0% {
   opacity:1;

 }
 25% {
   opacity:1;

 }
 25% {
  -webkit-transform:translateX(-10px);
  -moz-transform:translateX(-10px);
  -o-transform:translateX(-10px);
  transform:translateX(-10px);
   opacity:0;

 }
 90% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@keyframes main-bg-fadeinout {
 0% {
   opacity:1;

 }
 20% {
   opacity:1;

 }
 25% {
  -webkit-transform:translateX(-10px);
  -moz-transform:translateX(-10px);
  -o-transform:translateX(-10px);
  transform:translateX(-10px);
   opacity:0;

 }
 90% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}
#main-bg-header {
  position:fixed;
  width:450px;
  margin:0 auto;
  /* margin-top: -105px; */
  width: 100%;
  z-index: -9999;
}
.hideshow {
  display: none;
}
header:after {
  clear: both;
  content: '';
}
#main-bg-header img {
  position:absolute;
  left:0;
  width: 100%;
  max-width: 100%;
  top: -100px;
}
#main-bg-header.bg-noanime img {
  top: 0px;
}

@media screen and (max-width: 1280px){
  #main-bg-header img {
    width: auto;
    max-width: 1400px;
    top: 0px;
  }
}
@media screen and (max-width: 480px){
  #main-bg-header img {
    width:auto;
    max-width: 900px;
    margin-left: -40%;
  }
}

#main-bg-header img {
  -webkit-animation-name: main-bg-fadeinout;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 18s;

  -moz-animation-name: main-bg-fadeinout;
  -moz-animation-timing-function: ease-in;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 18s;

  -o-animation-name: main-bg-fadeinout;
  -o-animation-timing-function: ease-in;
  -o-animation-iteration-count: infinite;
  -o-animation-duration: 18s;

  animation-name: main-bg-fadeinout;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-duration: 18s;
}
#main-bg-header img:nth-of-type(2) {
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  animation-delay: 12s;
}
#main-bg-header img:nth-of-type(3) {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s;
}
#main-bg-header img:nth-of-type(4) {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}


#headline {
  height: calc(100vh - 105px);
  height: 100vh;
}

#headline .d-flex {
	height: 3	00px;
}
#headline .heading {
	
	color: #000;
	display: inline-block;
	background: rgba(255,255,255,0.7);
	padding: 5px 10px;
}
#headline .subheading {
  margin-top: 100px;
	width: 500px;
	color: #2a2a2a;
	padding: 10px;
	font-size: 26px;
  line-height: 36px;
  font-weight: 700;
  background: rgba(255,255,255,0.5);
}
.dropdown-description{
	width: 100%;
	/* height: 80px; */
	background: #f2f2f2;
	border: 1px solid #d9d9d9;
}
.dropdown-description .dropdown-trigger{
	width: 100%;
	height: 100%;
	padding: 20px 30px;
}
.dropdown-trigger:hover{
	cursor: pointer;
}
#description{
	display: none;
	transition: 0.3s;
}
#description.active{
	display:block;
	position: relative;
}



#pop-up{
  /* width: auto; */
  height: auto;
  position: fixed;
  bottom: 0;
  right: 0;
  right: -300px;
  z-index: 9999;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
  /* background: yellow; */
  transition: all .4s ease;
}
#pop-up.active {
  right: 0;
}
.pop-up-wrap {

}
.trigger-pop{
  width: auto;
  position: fixed;
  width: 210px;
  color: white;
  bottom: 292.5px;
  right: 0;
  right: -82.5px;
  background:   #f26824;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
  transform: rotate(-90deg);
  z-index: 100;
  transition: all .4s ease;
}
.trigger-pop.active {
  right: 217.5px;
}
.trigger-pop h3{
  font-size: 16px;
  color: white;
  font-weight: 600;
  margin-bottom: 0;
}

.popup-form{
  width: 300px;
  height: 100%;
  background: white;

  padding: 15px 12px;
  padding-bottom: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #f2f2f2;
}
.popup-form form {
  margin-top: 10px;
}
.popup-form h3{
  margin-bottom: 0px;
}
.popup-form span{
  width: 40px;
  height: 2px;
  display: block;
  background: #f26824;
  margin-bottom: 10px;
}
.popup-form input{
  width: 100%;
  height: 45px;
  border-radius: 4px;
  padding: 3px 9px;
  font-size: 12px;
  border: 2px solid #f2f2f2;
  background: #fcfcfc;
}
#btn-demo{
  background: #f26824;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s;
}
#btn-demo:hover{
  opacity: 0.8;
  margin-top: -2px;
}
.popup-form p{
  font-size: 10px;
}


.feature-7.h-100px {
  height: 80px;
}

.top-filter {
  border-top: 1px solid #ddd;
  padding: 10px;
  padding-bottom: 0;
  
}
.top-filter .feature-7 {
  margin-bottom: 0;
}
.top-filter .block {
  margin-bottom: 10px;
}
.top-filter .bg--dark {
  background: #141414;
  background: #fda523;
}
.top-filter .portfolioFilter.row {
  border-top: 1px solid #ddd;
}

#textslide { 
    margin: 50px auto; 
    position: relative; 
    width: 100%; 
    min-width: 360px; 
}

#textslide > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px;
    transition: all .4s ease;
    opacity: 0;
}

#textslide > div.active { 
  opacity: 1;
    transform: scale(1.1) translateY(-10px);
}
.icon-bar {
  position: fixed;
  bottom: 205px;
  left: 0;
  z-index: 9999;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 12px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
  border: 1px solid #f26824;
  background: rgba(255,255,255,0.5);
}

.icon-bar i {
  font-size: 18px;
  color: #f26824;
}

.icon-bar a:hover {
  background-color: rgba(255,255,255,1);
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}



.product-icon {

  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;  
}
.product-icon img {
  max-width: 70px;
  margin-bottom: 0;
  display: block;
}

.btn.no-border {
  border: none;   
}
.btn.no-border .btn__text {
  font-size: 14px;
}

.cover-size {
  background-size: cover !important;
}

.mailicon {
  position: relative;
}
.mailicon .popemail {
  position: absolute;

  opacity: 0;
  right: -145px;
  top: 50%;
  padding: 14px 14px;
  color: #f26824;
  transform: translateY(-50%);
  font-size: 15px;
  background: rgba(255,255,255,1);
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  transition: all .3s ease;
}
.mailicon:hover .popemail{
  opacity: 1;
}


.nav-xs-stick {
  position: fixed;
}

.mhide {
  
}

.presence .btn {
  margin: 0 10px;
  margin-left: 0 !important;
}

.about-tabs {
  border:none;
}
.about-tabs li {
  border: 1px solid #aaa;
  border-right: 1px solid #aaa !important;
  margin: 0 10px;
}

.contact-banner {
  
}

.pos-fixed .menu-horizontal.text-white > li > a, 
.pos-fixed .menu-horizontal.text-white > li > span {
  color: #4a4a4a !important;
}

.pos-fixed .menu-horizontal.text-white > li > a, 
.pos-fixed .menu-horizontal.text-white > li > span {
  color: #4a4a4a !important;
  font-size: 13.5px;
  text-transform: uppercase;
}
.menu-horizontal.text-white > li > a, 
.menu-horizontal.text-white > li > span {
  color: #fff ;
  opacity: 1;
  font-size: 13.5px;
  text-transform: uppercase;
}

.pos-fixed .menu-horizontal.text-white > li > a:hover, 
.pos-fixed .menu-horizontal.text-white > li > span:hover {
  color: #f26824 !important;
}
.menu-horizontal.text-white > li > a:hover , 
.menu-horizontal.text-white > li > span:hover {
  color: #f26824 !important;
  opacity: 1;
}

.pos-fixed .menu-horizontal .btn__text.text-white , 
.pos-fixed .menu-horizontal .btn__text.text-white  {
  color: #4a4a4a !important;
}

.menu-horizontal.text-white > li > a:hover , 
.menu-horizontal.text-white > li > span:hover {
  color: #f26824 !important;
  opacity: 1;
}
.bar-nobg .menu-horizontal.text-white > li > a{
  color: #3a3a3a;
}
.bar-nobg .menu-horizontal.text-white > li > span {
  color: #3a3a3a !important;
}
.bar-nobg .menu-horizontal.text-white > li span.btn__text.text-white {
  color: #3a3a3a !important;
}

.header-btn {
  border-radius: 2px;
  padding: 0px 10px;
}

.contact-wrapper {
  position: relative;
  margin-top: -170px;
  background: #fff;
  z-index: 2;
  max-width: 70%;
}
.contact-detail {
  background: #fafafa;
  padding: 30px 25px;
}
.contact-detail  p {
  font-size: 13px;
  font-weight: 600;

}
.contact-form {
  padding: 30px 25px;
  background: #f26824;
}
.contact-form-item {
  padding: 5px;
  margin-bottom: 10px;
}

.contact-form-item input,
.contact-form-item textarea {
  background: rgba(255,255,255, 0.1);
  color: #fff;
  font-size: 13px;
  padding: 12px 15px;
  border-radius: 2px;
}


.btn-c-presence {
  border-radius: 3px;
  
  background: #eee;
  padding: 3px 0;
  font-size: 13px;
  border:none;
}
.btn-c-presence:hover {
  background: #f26824;
}

.bar.main-bar {
  padding: 10px 0;
  padding-bottom: 20px;
}

.main-bar .logo {
  width: 120px;
  max-height: initial;
}

.main-footer {
  padding: 20px 0 ;
}
.main-footer .logo {
  max-height: initial;
  width: 120px;
}

.faq-wrap .tabs li.active .tab__title span {
  color: #f26824;
}

.faq-wrap .tabs li:hover .tab__title span {
  color: #f26824;
}

.slogan {
  font-size: 11px !important;
}

.btn-about-tab {
  border-radius: 3px;
  padding: 5px 20px !important;
}


.btn-about-tab.active {
  border: 1px solid #f26824 !important;
  border-right: 1px solid #f26824 !important;
}
.btn-about-tab:hover span{
  color: #f26824 !important;
}
.btn-about-tab.active span{
  color: #f26824 !important;
  ;
}




.product--tile img {
  width: 80%;
}
.product-capt p a {
  color: #f26824;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
}
.product-capt .price {
  font-size: 30px;

  font-weight: 700;
}
.product-capt a h3{
  font-weight: 700;
}
.product-capt a:hover{
  text-decoration: none;
  
}
.product-capt a:hover h3{
  color: #f26824;
}
.product-capt p {
  font-size: 17px;
}

.btn--orange {
  background: #f26824;
}
.btn--gray {
  background: #aaa;
}
.btn--orange .btn__text,
.btn--gray .btn__text {
  color: #fff;
}

.img-wrap {
  height: 350px;
}



.custom-tabs .nav-tabs .nav-item, 
.custom-tabs .nav-tabs .nav-item{
  background: #fff;
  width: 33.3%;
  text-align: center;
}
.custom-tabs .nav-tabs .nav-link, 
.custom-tabs .nav-tabs .nav-link{
  margin: 0;
  border: 1px solid #ccc;
  border-radius: none;
  padding: 12px 0;
  font-size: 16px;
  color: #4a4a4a;
  font-weight: 700;
}
.custom-tabs .nav-tabs .nav-link.active {
  background: #f3f3f3;
}

.tab-wrap {
  background: #fff;
  border: 1px solid #ccc;
  border-top: none;
  padding: 30px;
  font-size: 15px;
}
.tab-wrap strong {
  font-weight: 700;
  font-size: 17px;
}
.tab-wrap p {
  margin-bottom: 20px;
}

.related-product-img {

}
.related-product .product img {
  max-width: 160px;
  height: 160px;
}


.slide:not([class*='col-']) > img:only-child {
  max-width: 100%;
  width: auto;
  padding: 0 40px;
  height: auto;
}

.slider .slides .flickity-slider > li:not([class*='col-']) {
  text-align: center;
}

.main-detail-prduct p{
  font-size: 18px;
}

.accordion li .accordion__title, .accordion li .accordion__content, .accordion li .accordion__content * {
  font-size: 16px;
}

ul.ctm-accordion {
  min-height: initial !important;
} 


@media screen and (max-width: 991.9px){
  .nav-hidden {
    display: none;
  }
}

.menu-horizontal > li:not(:hover) > a, 
.menu-horizontal > li:not(:hover) > span{
  opacity: .9;
}

.menu-horizontal > li.active > a, 
.menu-horizontal > li.active > span {
  color: #f26824;
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 2px solid #f26824;
}


#main-bg-header.bg-noanime img{
  animation: none;
}
.banner-h40 {
  height: 40vh;
  background: transparent;
}
.banner-h50 {
  height: 50vh;
  background: transparent;
}
.banner-h60 {
  height: 60vh;
  background: transparent;
}

.thecontent p {
  margin-bottom: 5px;
  text-align: justify;
}
.thecontent p.lead {
  margin-bottom: 5px;
  margin-top: 15px;
}

.index-class {
  font-weight:  600;
}
.index-class td span {
  color:#fff;
  padding: 5px 10px;
  font-weight:700;
  border-radius:4px;
  margin-right: 5px;
}



.download-section {
  padding-bottom: 200px !important;
}


@media all and (max-width: 991.8px) {
  .bar.bar--mobile-sticky[data-scroll-class*='fixed'].pos-fixed {
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 999;
  }

  .bar.bar--mobile-sticky[data-scroll-class*='fixed'] + .bar.pos-fixed {
    top: 3.71428571em;
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 999;

  }

  .download-section {
    padding-bottom: 140px !important;
  }
}

.r-hide {
  display: block;
}
.r-show {
  display: none;
}
.monitor-icon {
  padding-left: 20px;
  padding-right: 20px;
}
.monitor-icon img {
  margin-left: 15px;
}

.bg-cover {
  background-size: cover !important;
  background-repeat: no-repeat !important;
}


.bacteria .feature-7 {
  height: 80px;
}

.faq-wrap .accordion__title,
.faq-wrap .accordion__content {
  text-align: justify;
}


.openings .accordion .accordion__title 
{
  opacity: 1;
}

.openings .accordion li.active .accordion__content > * {
  display: flex;
}
span.vacancy-title {
  font-size: 20px;
  color: #3a3a3a;
  opacity: 0.8;
  font-weight: 600;
}
@media screen and (max-width: 991.9px){
  .section-btn-download a {
    display: inline-block;
    width: auto;
    padding: 5px 15px;
    margin-left: 10px;
    margin-bottom: 5px !important;
  }
  .section-btn .btn {
    margin-left: 0;
    margin-bottom: 5px !important;
  }

  .contact-wrapper {
    max-width: 80%;
  }

  .menu-horizontal > li.active > a, 
  .menu-horizontal > li.active > span {
    border-bottom: none;
  }
  .menu-horizontal > li:not(:hover) > a{
    padding: 5px 0;
  }
  .tabs li:not(:last-child) {
    border-bottom: 1px solid #aaa;
  }


  .product-icon {
    padding: 15px 15px;
  }
  .monitor-icon {
    padding-left: 15px;
    padding-right: 15px;
  }
  .monitor-icon img {
    margin-left: 0;
  }
  .r-hide {
    display: none;
  }
  .r-show {
    display: block;
  }
  .product-capt .btn {
    display: block;
    margin-left: 0 !important;
    margin-bottom: 10px;
    width: 130px;
    padding: 10px 10px;
  }
  .img-wrap {
    height: auto;
  }

  .icon-bar a {
    font-size: 16px;
    padding: 10px;
  }

  .main-detail-prduct .btn {
    display: block;
    width: 120px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: auto;
  }
}

@media screen and (max-width: 767.8px){
  #headline {
    height: 60vh;
  }
  #headline .item {
    width: 100%;
  }
  .subheading {
    font-size: 18px !important;
    margin-top: 0 !important;
    line-height: 26px !important;
    width: 80% !important;
  }
  
  .contact-wrapper {
    max-width: 100%;
  }
  .product-icon {
    margin: 0 auto;
    margin-bottom: 10px;
    display: block;
    width: 100px;
  }
  .product-icon:first-child{
    margin-left: inherit;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .product-icon:last-child{
    margin-right: inherit;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .all-filter img,
  .air-filter img {
    display: block;
    margin: 0 auto;
  }
  .icon-bar a {
    padding: 8.5px;
  }
  .mailicon .popemail {
    padding: 8px 8px;
    right: -140px;
  }
  .trigger-pop {
    padding: 5px 0;
    right: -90px;
    padding-bottom: 10px;
    bottom: 287.5px;
  }
  .trigger-pop h3 {
    text-align: center;

  }

  .accordion li.active .accordion__content {
    max-height: 1000px !important;
  }

  footer .social-list {
    margin: 0 !important; 
    margin-top: 10px !important;
    margin-bottom: -20px !important;
  }

  footer .slogan {
    margin-top: -10px !important;
  }

  .icon-bar a {
    
  }

  .icon-bar i {
    font-size: 16px;
  }

}

@media screen and (max-width: 575.8px){
  .no-ml-xs {
    margin-left: 0 !important;
  }
  .no-mr-xs {
    margin-right: 0 !important;
  }
  .contact-wrapper {
    max-width: 100%;
    flex-direction: column;
  }
  .presence .btn {
    margin-right: 5px !important;
  }
}