*{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
}
.big-box{
  width: auto;
  height: 1280px;
  background: green;
  z-index: 0;
}
.content{
}
#pop-up{
  /* width: auto; */
  height: auto;
  bottom: 0;
  position: fixed;
  right: 0px;
  right: -300px;
  transition: all ease 0.3s;
  z-index: 1;
  /* background: yellow; */
}
#pop-up.active{
  right: 0px;
}
.pop-up-wrap {
  position: relative;
}
#pop-up .trigger-pop{
  width: auto;
  position: absolute;
  top: 88px;
  left: -135px;
  color: white;
  float: left;
  background:   #99004d;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
  transform: rotate(-90deg);
}
#pop-up .trigger-pop h3{
  font-size: 18px;
  color: white;
  font-weight: 600;
  margin-bottom: 0;
}

.popup-form{
  width: 300px;
  height: 100%;
  background: white;
  float: right;
  padding: 19px 12px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #f2f2f2;
}
.popup-form form {
  margin-top: 10px;
}
.popup-form h3{
  margin-bottom: 0px;
}
.popup-form span{
  width: 40px;
  height: 2px;
  display: block;
  background: blue;
  margin-bottom: 30px;
}
.popup-form input{
  width: 100%;
  height: 45px;
  border-radius: 4px;
  padding: 3px 9px;
  font-size: 12px;
  border: 2px solid #f2f2f2;
  background: #fcfcfc;
}
#btn-demo{
  background: #1a75ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.1s;
}
#btn-demo:hover{
  opacity: 0.8;
  margin-top: -2px;
}
.popup-form p{
  font-size: 10pt;
}
