
@font-face {
  font-family: 'ProximaNova-Medium';
  src: url('ProximaNova-Medium.eot?#iefix') format('embedded-opentype'),  url('ProximaNova-Medium.woff') format('woff'), url('ProximaNova-Medium.ttf')  format('truetype'), url('ProximaNova-Medium.svg#ProximaNova-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
